extends src/layout/main_layout.pug

block variables
    - let pageTitle = "Bookshelf1"

block content
    include src/wrapper_shadow/wrapper_shadow.layout.pug
    main.footer
    .wrapper
        .main-container

