.book-card {
    width: 480px;
    height: 320px;
    display: flex;
    position: relative;
    margin: 25px;
    background-color: white;
    border-radius: 19px;
}

.book-card-image {
    width: 240px;
    height: 320px;
    border-radius: 19px 0 0 19px;
}

.book-card-title,
.book-card-author,
.book-card-year {
    position: absolute;
    margin: 15px;
}

.book-card-title {
    top: 10px;
}

.book-card-author {
    bottom: 45%;
}

.book-card-year {
    bottom: 5%;
}
