* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 100vh;
  background: url("../img/background.jpg");
}

.body-overflow {
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
