.book-button-add,
.book-button-edit,
.book-button-delete,
.popup-button-save,
.popup-button-cancel {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.book-button-add {
  margin: 20px 40px;
}

.book-button-edit {
  position: absolute;
  bottom: 50px;
  right: 5px;
  margin-bottom: 2px;
}

.book-button-delete {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.popup-button-save {
  margin: 5px 10px;
}
